:root {
  --radius: 10px;
  --blue: #A7A1EB;
  --orange: #FF8431;
  --pad: 20px;
  --radius: 10px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Jost-Bold;
  src: url('./assets/Jost-Bold.ttf');
}

@font-face {
  font-family: Jost-Medium;
  src: url('./assets/Jost-Medium.ttf');
}

@font-face {
  font-family: Jost-Regular;
  src: url('./assets/Jost-Regular.ttf');
}

body{
  background-color: #343434;
}

h1{
  font-family: Jost-Bold;
  font-size: 54px;
  color: #F5F5F5;
  text-transform: uppercase;
  line-height: 1.7;
}
.slider{
  height: 100vh;
}

.swiper-pagination-bullet{
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}